.container {
  width: 100%;
  height: 100%;
  background-color: #303030;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  padding: 8rem 2rem 5rem 2rem;
  background-image: url("./../../assets/Black-Animation-Background.svg");
}

.text {
  min-width: 15rem;
  max-width: 25rem;
  padding: 2rem;
  text-align: center;
}

.text h1 {
  color: rgb(0, 128, 79);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.text h1:hover {
  animation: float 1s ease-in-out;
  cursor: pointer;
}

.text h4 {
  color: rgb(168, 168, 168);
  padding-top: 1rem;
  line-height: 1.6;
}

.img {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: float 2.6s ease-in-out infinite;
}

.img img {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

@keyframes float {
  0% {
    transform: translatey(0px);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
  50% {
    transform: translatey(-12px);
    filter: drop-shadow(6px 10px 4px rgb(0 0 0 / 0.6));
  }
  100% {
    transform: translatey(0px);
    filter: drop-shadow(3px 5px 4px rgb(0 0 0 / 0.4));
  }
}
