.header {
  width: 100%;
  height: 5rem;
  background-color: #202020;
  box-shadow: 0 4px 4px #888888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 3%;
  opacity: 0.9;
  position: fixed;
}

.logo {
  font-size: 1.5rem;
  color: white;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 4px;
}

.header a:active,
.header a:hover,
.header a.active {
  color: rgb(0, 128, 79);
  transition: all 0.2s ease-in-out;
  border-bottom: 3px solid rgb(0, 128, 79);
}
